.front {
    transform: rotateY( 180deg);
    position: absolute;
}

.tableCards {
    display: flex;
    justify-content: center;
    align-items: center;
    /* perspective: 500px; */
    width: 60%;
    flex-wrap: wrap;
    padding-top: 5rem;
}
.timers {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: calc(8 * var(--aspect-ratio));
    visibility: hidden;
    left: calc( 55 * var(--aspect-ratio)) !important;
    position: fixed;
    /*  top: calc( 38.5 * var(--aspect-ratio)) !important; */
    /* margin-left: 30%; */
}

.timers>div {
    padding: calc(3.5* var(--aspect-ratio));
    border-radius: calc(1.5 * var(--aspect-ratio));
    background: #00BF96;
    display: inline-block;
}

.timers div>span {
    padding: calc(10 * var(--aspect-ratio));
    border-radius: calc(0.5 * var(--aspect-ratio));
    background: #00816A;
    display: inline-block;
}

.tableCard {
    display: flex;
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    margin-right: 0.3rem;
}

.tableCard.with_mask {
    position: relative;
}

.tableCard.with_mask:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.5;
}

.front,
.back {
    backface-visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    height: calc( 14.5 * var(--aspect-ratio));
    width: calc( 10.9 * var(--aspect-ratio));
}

.tableCard>.front,
.back {
    backface-visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    height: calc( 31.5 * var(--aspect-ratio));
    width: calc( 19.9 * var(--aspect-ratio));
}

.middle_table_card {
    position: relative;
    top: calc(130 * var(--aspect-ratio));
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    30% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%) rotateY(160deg);
    }
}
.tableName{
    margin: auto;
    margin-top: 5px;
    color: #FBF201CC;
        /* font-family: Inter; */
    /* font-size: 22px; */
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    margin-left: 8px;
    opacity: 1;
    font-size: 19px;
    text-transform: capitalize;
}
.tableSettingsSpan {
    position: fixed;
    top: 5%;
    left: 0;
    color: white;
  text-align: center;
}
.ante div{
    display: inline;
}
